:root{
    --blue: #0a0c19;
    --dark-violate: #1b1938;
    --violate: #aa5cdb;
    --white: #fff;
    --off-white: #dcdcdc;
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Lexend Deca", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: var(--dark-violate);
    height: 60vh;
    width: 60%;
    display: flex;
    border-radius: 5px;
}

.text-container{
    width: 50%;
    color: var(--white);
    font-family: var(--primary-font);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    margin-bottom: 10px;
}

.title-color{
    color: var(--violate);
}

.title-details{
    line-height: 25px;
}

.stat{
    display: flex;
    gap: 25px;
}

.img-container{
    width: 50%;;
    height: 100%;
}

.img-container > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Responsive*/

@media screen and (max-width: 576px) {
    .container, .text-container, .img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width: 976px) {
    .container, .text-container, .img-container{
        display: flex;
        height: 90vh;
        width: 80%;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .stat{
        margin-top: 20px;
    }
}