.cart{

    background-color: #FFE0B3;
    padding: 20px;
    position: sticky;
    top: 0;

}

.order-summary{
    text-align: center;
}

.btn-clear-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 56px;
    border: none;
    margin: 10px auto;
    background: #FF3030;
    border-radius: 4px;
    color: white;
    font-size: 21px;
    cursor: pointer;
}