#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.product{
  background-color: coral;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

.users{

  background-color: coral;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;

}