.home-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
    margin-top: 30px;
}

.tshirt-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}