*{
    margin: 0;
    padding: 0;
}

/*Navigation-Bar Styles*/

.nav-container{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: rgb(68, 69, 70);
    color: white;
}

.items{
    display: flex;
    list-style: none;
}

.item{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;
}

/*Banner Styles*/

.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url("../image/background.jpg"),linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7));
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

.banner-title{
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 15px;
}

.dif{
    color: orangered;
}

.banner-description{
    font-size: 20px;
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
}

.btn{
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

.btn-1{
    background-color: orangered;
    color: white;
}

.btn-2{
    color: orangered;
}

/*Service Container*/

.service-container{
    width: 100%;
    height: 100vh;
    background-image: url('../image/footer-bg.png'),linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    color: white;
    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.service-btn{
    border-radius: 25px;
    color: gray;
    margin-bottom: 10px;
}

.service-title{
    font-size: 40px;
    font-weight: bold;
   
}

.service-description{
    font-size: 20px;
    width: 50%;
    padding: 10px;
}

.service-list{
    list-style-position: inside;
    margin-bottom: 20px;
}

.author-details{
    display: flex;
    align-items: center;
}

.author-img-desc{
    display: flex;
    align-items: center;
    padding: 20px;
    border-right: 1px solid orangered;
}

.author-img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.author-desc{
    padding: 20px;
    margin-right: 100px;
}

.more-details{
    padding: 20px;
}

.author-btn{
    border-radius: 25px;
}

/*Services Styles*/

.services-up{
    display: flex;
}

.service{
    padding: 50px;
    background-color: white;
    box-shadow: 4px 4px 8px gray;
    width: 200px;
    height: 200px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin: 5px;
}

.service-logo{
    width: 50%;
    margin-bottom: 10px;
}

.services-down{
    display: flex;
}

/*Appointment Styles*/

.appointment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-top: -60px;
    padding: 10px;
    border-radius: 25px;
    color: whitesmoke;
    background-color: orangered;
}

.phone-call{
    display: flex;
}

.call{
    width: 90px;
}

.call-details{
    margin-left: 15px;
}

.appointment-details{
    width: 75%;
}

