/*Common Styles*/

:root{
    --primary-color: #000000;
    --secondary-color: #FFAD5A;
    --tertiary-color: #13103A;
    --button-bg-color: #FF5959;
    --button-color: #FFFFFF;
    --font:'Poppins', sans-serif;

    --bg-color-1: rgba(79, 157, 166, 0.1);;
    --bg-color-2: rgba(255, 89, 89, 0.1);;
    --bg-color-3: #FFF4D6;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
}

.sec-col{
    color: var(--secondary-color);
}

.btn{
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 8px;
    color: var(--button-color);
    padding: 14px 18px;
}

/* Banner Styles*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    padding: 30px 0px;
}

.banner-details{
    max-width: 500px;
    width: 100%;
}

.banner-title{
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    color: #333333;
    margin-bottom: 15px;
}

.banner-desc{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #3E3E3E;
    margin-bottom: 20px;
}

.banner-photo > img{
    max-width: 250px;
}

/*My Mission Styles*/

.mission-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    color: var(--tertiary-color);
    margin-bottom: 50px;
}

.mission-lists{
    display: flex;
    justify-content: center;
    gap: 25px;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 85px;
}

.mission-list{
    display: flex;
    flex-direction: column;
    max-width: 360px;
    height: 300px;
    width: 100%;
    border-radius: 15px;
    padding: 10px 20px;
}

/*--------------------
Lists Container Color
----------------------*/

#container1{
    background-color: var(--bg-color-1);
}
#container2{
    background-color: var(--bg-color-2);
}
#container3{
    background-color: var(--bg-color-3);
}

.mission-list > img{
    max-width: 100px;
}


.mission-list-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.mission-list-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #424242;
}

/*Develop Styles*/

.develop-container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 70px;
    margin-bottom: 100px;
}

.develop-img > img{
    max-width: 400px;
    width: 100%;
}

.develop-details{
    max-width: 650px;
    width: 100%;
}

.develop-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
    margin-bottom: 15px; 
}

.develop-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #3E3E3E;
    margin-bottom: 15px;
}

/*Global Community Styles*/

.global-container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}

.global-details{
    max-width: 650px;
    width: 100%;
}

.global-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
    margin-bottom: 15px; 
}

.global-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #3E3E3E;
    margin-bottom: 15px;
}

.global-img > img{
    max-width: 400px;
    width: 100%;
}

/*Application Section*/

.application-main-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 74px;
    margin-bottom: 10px;
}

.application-container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}

.application-img > img{
    max-width: 400px;
    width: 100%;
}

.application-details{
    max-width: 650px;
    width: 100%;
}

.application-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: var(--primary-color);
    margin-bottom: 15px; 
}

.application-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #3E3E3E;
    margin-bottom: 15px;
}

/*Footer Styles*/

footer{
    background-color: var(--tertiary-color);
    max-width: 2400px;
    height: 15vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-title{
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: var(--bg-color-3);
}

.footer-desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--bg-color-3);
}

/*Media Queries*/

/*--------------
  Mobile Device
  --------------
*/

@media screen and (max-width:576px){
    header{
        flex-direction: column-reverse;
        gap: 10px;
    }

    .banner-details{
        text-align: center;
    }

    .mission-lists{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .develop-container,.application-container{
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        text-align: center;
    }

    .global-container{
        flex-direction: column-reverse;
        padding: 10px;
        gap: 10px;
        text-align: center;
    }

    footer{
        padding: 25px;
    }
   
}