#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.person{

  background-color: darkcyan;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;

}

.friend{

  background-color:darkslategray;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;

}